*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
BiliLiveLib/captchaLogin.png
BiliLiveLib/cookies.bin
BiliLiveLib/target/generated-sources/
BiliLiveLib/target/generated-test-sources/
BiliLiveLib/target/maven-status/
BiliLiveLib/target/test-classes/
